.minified {
  .profile {
    padding: 10px 11px;
    margin: 0;
    img {
      width: 28px;
      margin: 0;
      padding: 8px 0;
    }

    h2 {
      display: none;
    }

    a {
      font-size: $font-size-base;
      padding: 6px;
      i {
        font-size: 19px;
        color: #fff;

        &:hover {
          color: #fff;
        }
      }
      span {
        display: none;
      }
    }
  }

  #main {
    margin-left: 50px;
  }

  aside {
    width: 50px;
    overflow: visible;
  }
}