//
// Each colour is available in 3 tints (100%, 66% and 33%)
//
$palette_primary_blue: #27aae1; // Bright blue
$palette_primary_green: #bcd631; // Bright green
$palette_primary_darkgrey: #444a55; // Rich charcoal
$palette_primary_midgrey: #808792; // Mid grey
$palette_bodyText: #444A55;